.usersxyear {
  margin: 1rem;
  padding: 1rem 0 1rem 0;
  background-color: #181818;
  border-radius: 10px;
}

.usersxyear h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 4rem 0;
}

@media screen and (width <= 554px) {
  .usersxyear h3 {
    margin: 1rem 0;
  }
}

@media screen and (width <= 310px) {
}
